/* Reset some default styles for consistency across browsers */
body, h1, h2, h3, p, div, label, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
  background-color: #2b2b2b; /* Dark background */
  color: #ffffff; /* White text */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#window {
  display: flex;
  width: 80%; /* Adjust as needed */
  max-width: 800px; /* Adjust as needed */
}

#menu {
  flex: 1;
  padding: 20px;
  background-color: #1e1e1e; /* Darker background for menu */
  border-radius: 15px; /* Rounded corners */
  margin-right: 20px; /* Spacing between menu and terminal */
}

#menu-form {
  max-width: 300px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #b7b7b7; /* Lighter grey for labels */
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px; /* Increased spacing */
  border: 1px solid #333333; /* Dark border */
  border-radius: 8px; /* Slightly rounded corners */
}

button {
  width: 100%;
  padding: 12px;
  background-color: #6a00a8; /* Purple button background */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3f007d; /* Darker purple on hover */
}

#terminal {
  flex: 1;
  padding: 20px;
}

#test {
  margin-right: 5px;
}

#shell {
  width: calc(100% - 30px); /* Adjusted width */
  padding: 12px;
  margin-bottom: 15px; /* Increased spacing */
  border: 1px solid #333333; /* Dark border */
  border-radius: 8px; /* Slightly rounded corners */
}

#enter {
  width: 100%;
  padding: 12px;
  background-color: #000000; /* Black button background */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#enter:hover {
  background-color: #1a1a1a; /* Darker black on hover */
}

